<div class="container-fluid bg-dark py-5 text-white">
    <div class="container">
        <div class="row py-5">
            <div class="col-12 col-lg-4 text-center text-lg-start py-3">
                <!-- logo -->
                <a class="" href="#">MojStol</a>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam vestibulum mi dolor, vel auctor est tristique in. Sed non dictum ipsum.</p>
            </div>
            <div class="col-12 col-lg-2 d-flex flex-column text-center py-3">
                <p class="fs-6 fw-bold text-danger">Brzi pristup</p>
                <a class="mb-2 text-decoration-none text-white" href="">Pocetna</a>
                <a class="mb-2 text-decoration-none text-white" href="">Restorani</a>
                <a class="mb-2 text-decoration-none text-white" href="">Gradovi</a>
                <a class="mb-2 text-decoration-none text-white" href="">Kontakt</a>
            </div>
            <div class="col-12 col-lg-2 d-flex flex-column text-center py-3">
                <p class="fs-6 fw-bold text-danger">Pomoc</p>
                <a class="mb-2 text-decoration-none text-white" href="">Politika privatnosti</a>
                <a class="mb-2 text-decoration-none text-white" href="">Uslovi koristenja</a>
                <a class="mb-2 text-decoration-none text-white" href="">Support</a>
            </div>
            <div class="col-12 col-lg-4 text-center py-3">
                <p class="fs-5 text-white">Zelis prvi primiti obavjesti o novim ponudama?</p>
                <p class="text-white">Ostavi nam svoj email i obavjetit cemo te na vrijeme!</p>
                <input class="rounded p-2 border w-75 mx-auto" type="email" name="" id="" placeholder="email@example.com">
            </div>
        </div>
    </div>
</div>