<div class="modal fade show" style="display: block;" aria-modal="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Please enter 2FA Code</h5>
        </div>
        <div class="modal-body">
          <label for="twoFactorCode">2FA Code</label>
          <input type="text" [(ngModel)]="twoFactorCode" class="form-control" id="twoFactorCode">
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" (click)="onVerify2FA()">Verify</button>
        </div>
      </div>
    </div>
  </div>
  