<div class="container mx-auto py-5">
  <div class="row shadow rounded">
    <div class="col-12 col-lg-7 bg-light py-5 px-2 px-lg-5 rounded-start-2">
      <a routerLink="/" class="text-decoration-none text-black opacity-75"><i class="bi bi-arrow-left"></i> Back</a>
      <p class="fs-2 mt-3">Dobrodosli na MojStol!</p>
      <p class="fs-6 opacity-75">Aplikacija putem koje mozete brzo i lako rezervisati svoj stol u Vasem omiljenom restoranu!</p>
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="row mt-5">
        <div class="col-12 mb-3">
          <label class="form-label">Email address</label>
          <input formControlName="email" type="email" class="form-control">
        </div>
        <div class="col-12 mb-3">
          <label class="form-label">Password</label>
          <input formControlName="password" type="password" class="form-control">
        </div>
        <div class="col-12 mb-3">
          <button type="submit" class="btn btn-success w-100" [disabled]="loginForm.invalid">Prijavi se</button>
        </div>
      </form>
      <p class="text-end"><a class="fs-6 opacity-75 text-center text-dark" (click)="openForgotPasswordModal()">Zaboravljena lozinka?</a></p>  
      <p class="fs-6 opacity-75 text-center">Nemas profil? <a routerLink="/register" class="text-decoration-none text-dark fw-semibold">Registruj se</a></p>
    </div>
    <div class="col-12 col-lg-5 bg-danger rounded-end-2">
      Ovdje ide neka slika
    </div>
  </div>
</div>




<app-two-factor-auth *ngIf="show2FAPopup" [userId]="userId" (verified)="on2FAVerified()"></app-two-factor-auth>
<app-forgot-password *ngIf="showForgotPasswordModal" (close)="closeForgotPasswordModal()"></app-forgot-password>
