<div class="container mx-auto py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>Reset Your Password</h2>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="newPassword" class="form-label">New Password</label>
          <input formControlName="newPassword" type="password" class="form-control" id="newPassword">
        </div>
        <div class="mb-3">
          <label for="confirmPassword" class="form-label">Confirm New Password</label>
          <input formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword">
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="resetPasswordForm.invalid">Reset Password</button>
      </form>
    </div>
  </div>
</div>
